:root[data-theme='light'] {
  --bg-color: pink;
  --border-color: pink;
  --icon-color: pink;
  --button-bg-color: pink;
}


:root[data-theme='dark'] {
  --bg-color: black;
  --border-color: black;
  --icon-color: black;
  --button-bg-color: black;
}