@mixin ellipsislineclamp($h) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $h;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
}
