@font-face {
  font-family: "HarmonyOS_Sans";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS_Sans_Light";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/HarmonyOS_Sans_SC_Light.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS_Sans_Medium";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "HarmonyOS_Sans_Bold";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/HarmonyOS_Sans_SC_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-Bold";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-Bold.otf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-ExtraLight";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-Heavy";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-Light";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-Light.otf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-Medium";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-Medium.otf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-Normal";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-Normal.otf") format("truetype");
}
@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("https://mobvoi-backend-public.ticwear.com/moyin_web/moyin-doc/assets/fonts/SourceHanSansCN-Regular.otf") format("truetype");
}